# Decided to use big, but universal requirements.txt file
numpy<2.0.0
pandas
lxml
beautifulsoup4
tqdm
pds4-tools
pydantic
httpx
celery
pymongo

# Also sudo apt install celery
# TODO: Probably set it up somehow portably ...
