# Decided to use big, but universal requirements.txt file
numpy<2.0.0
pandas
lxml
tqdm
beautifulsoup4
pds4-tools
pydantic

httpx
celery
flower
pymongo
redis
requests
gevent
# Also sudo apt install celery
# TODO: Probably set it up somehow portably ...
